{# {% macro mail_body(kpi, end_date, img_dict={}, anomaly_range_stats={}, anomaly_window=none, oracle_insertion_id=None, time_granularity=None) %} #}
{% macro mail_body(kpi, end_date, img_dict={}, anomaly_range_stats={}, anomaly_window=none, run_id=None, time_granularity=None) %}
<p>
    Buen día,<br />
    <br />
    A continuación se detallan las anomalías
    {% if time_granularity == 'H' %}
    horarias
    {% endif %}
    detectadas de los últimos {{ anomaly_window }} días del <b>KPI {{ kpi.title() }}</b>.
</p>

<p>
<b>Novedades de
  {% if time_granularity == 'H' %}
    hoy
  {% else %}
    ayer
  {% endif %}
  ({{ end_date }}): se detectaron {{
  anomaly_range_stats.get('nr_anomalies_news')}}
  {% if anomaly_range_stats.get('nr_anomalies_news') > 0 %}
    ({{ anomaly_range_stats.get('pos_anomalies_news') }} positivas y
    {{ anomaly_range_stats.get('neg_anomalies_news') }} negativas)
  {% endif %}
  anomalías.</b>
</p>

<p>
  Resumen de los últimos {{ anomaly_window }} días (incluido ayer):
  <ul>
    <li>{{ anomaly_range_stats.get('nr_anomalies') }} anomalías
    {% if anomaly_range_stats.get('nr_anomalies') > 0 %}:
      {{ anomaly_range_stats.get('pos_anomalies') }} positivas y
      {{ anomaly_range_stats.get('neg_anomalies') }} negativas
    {% endif %}
    </li>
  {% if anomaly_range_stats.get('nr_anomalies') > 0 %}
    <li>Hubo {{ anomaly_range_stats.get('anomaly_dates')}} instancias
      temporales con anomalías</li>
    <li>La más grave ocurrió el {{ anomaly_range_stats.get('worst_anomaly') }}
      {% if time_granularity == 'H' %}
      a las {{ anomaly_range_stats.get('worst_anomaly_hour')}} horas
      {% endif %}
      {% if len(img_dict) > 0 %}
        (en {{ anomaly_range_stats.get('worst_anomaly_by_factor_val') }})
      {% endif %}
    </li>
    {% if len(img_dict) > 0 %}
      {% if anomaly_range_stats.get('most_anom_by_factor_val')|length > 0 %}
        <li>Los factores {{ anomaly_range_stats.get('most_anom_by_factor_val')|length }}
          con más anomalías fueron: {{
          anomaly_range_stats.get('most_anom_by_factor_val')|join(', ') }}</li>
      {% endif %}
    {% endif %}
  {% endif %}
  </ul>
</p>

{% if anomaly_range_stats.get('nr_anomalies') > 0 %}
<p>
  Detalle de días con anomalías:<br />
    <center>
    {{ anomaly_range_stats.get('anomaly_summary') }}
    </center>
    <br />
    <table style="width:100%">
    {% for granularity_val in img_dict['outliers'] %}
      <tr>
        <td><img src="cid:{{ img_dict['outliers'][granularity_val] }}" /></td>
      </tr>
    {% endfor %}
    </table>
</p>
{% endif %}

Saludos y gracias,<br />
Delver<br />
<br />
{# <small>PD: run_id: {{ run_id }}</small> #}
{% endmacro %}

{% macro aggregated_mail_body(kpis, time_window, img_dict, total, top_pos,
top_neg, top_factor_val_table) %}
<p>
    Buen día,<br />
    <br />
    A continuación se detalla un resumen las anomalías detectadas de los últimos {{
    time_window }} días para los KPIs: <b>{{ kpis|join(', ')}}</b>:
  <ul>
    <li><b>En total se detectaron {{ total }} instancias de anomalías. </b></li>
    <li> La de mayor impacto positivo ocurrio el {{ top_pos['outlier_date'] }} en {{
      top_pos['granularity_val'] }} para el kpi {{ top_pos['kpi'] }}.</li>
    <li>La mayor impacto negativa ocurrio el {{ top_neg['outlier_date'] }} en {{
      top_neg['granularity_val'] }} para el kpi {{ top_neg['kpi'] }}.</li>
  </ul>
</p>

    <br />
    <table style="width:100%">
    {% for img_name in img_dict %}
      <tr>
        <td><img src="cid:{{ img_name }}" /></td>
      </tr>
    {% endfor %}
    </table>
    <br />
    <p>
      Detalle factores con mayor cantidad de anomalías:<br />
        <center>
        {{ top_factor_val_table }}
        </center>
        <br />
    </p>

Saludos y gracias<br />
<br />
<br />
{% endmacro %}
